!composer.lock

*.json
!composer.json

*.gpx
desktop/assets/img/Maison du Tourisme Cap Sûre Anlier_DSC_0069.JPG
00042517-WBT-Logo VISITWallonia.be - Vertical - Pantone 2995C - PNG.png
.DS_Store
.env
node_modules
desktop/assets/inc/php/API/library/input/
vendor/
