Parameters.php
*.json
*.gpx
desktop/assets/img/Maison du Tourisme Cap Sûre Anlier_DSC_0069.JPG
.DS_Store
.env
node_modules
desktop/assets/inc/php/API/library/input/an_empty_polygon.wkt
desktop/assets/inc/php/API/library/input/big_n_ugly.kml
desktop/assets/inc/php/API/library/input/box.georss
desktop/assets/inc/php/API/library/input/cdata.kml
desktop/assets/inc/php/API/library/input/circle.georss
desktop/assets/inc/php/API/library/input/empty_point.wkt
desktop/assets/inc/php/API/library/input/geometrycollection.georss
desktop/assets/inc/php/API/library/input/geometrycollection.wkt
desktop/assets/inc/php/API/library/input/line.georss
desktop/assets/inc/php/API/library/input/linestring.wkt
desktop/assets/inc/php/API/library/input/long.geohash
desktop/assets/inc/php/API/library/input/multilinestring.ewkt
desktop/assets/inc/php/API/library/input/multilinestring.wkt
desktop/assets/inc/php/API/library/input/multipolygon.wkb
desktop/assets/inc/php/API/library/input/multipolygon.wkt
desktop/assets/inc/php/API/library/input/multipolygon2.wkt
desktop/assets/inc/php/API/library/input/path.kml
desktop/assets/inc/php/API/library/input/pentagon.kml
desktop/assets/inc/php/API/library/input/point_earth.kml
desktop/assets/inc/php/API/library/input/point.georss
desktop/assets/inc/php/API/library/input/point.kml
desktop/assets/inc/php/API/library/input/point.wkt
desktop/assets/inc/php/API/library/input/polygon_spaces.wkt
desktop/assets/inc/php/API/library/input/polygon.georss
desktop/assets/inc/php/API/library/input/polygon.wkt
desktop/assets/inc/php/API/library/input/polygon2.wkt
desktop/assets/inc/php/API/library/input/polygon3.wkt
desktop/assets/inc/php/API/library/input/polygon4.wkt
desktop/assets/inc/php/API/library/input/short.geohash
